html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;



  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

th, td {
  padding: 15px;
  height:50px;
  border-left:0;
  border-right:0;
}

th {
  border-bottom: 1px solid #000;
  background-color:#dcdfe5;
  color:black;
}

td div {
  height:100px;
  overflow: auto;
}

.table_wrapper {
  overflow-x:auto;
}

tr:not(:last-child) {
  border-bottom: 1px solid dcdfe5;
}

tr:last-child {
  border-bottom: 1px solid black;
}

.step_wrapper {
  margin-bottom: 18px;
}

.body_wrapper {
  margin:6px 12px;
}

.option_value {
  border:1px solid black;
}

.compare_price {
  text-decoration: line-through;
  display: inline;
}

.details_wrapper {
  max-width: 530px;
}

.title {
  font-size: 32px;
}

.form_wrapper {
  margin-bottom: 12px;
}

.form_table {
  margin-bottom: 12px;
  max-width: 500px;
  text-align: left;
}

.submit_btn_wrapper {
  position: relative;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center_horizontal {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
